@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


:root{
  --color-light: #ffffff;
  --color-gray: #686D76; 
  --color-dark: #262A41;
  --color-light-gray: #c6c6c6;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background: var(--color-light);
}

p {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  font-weight: bold;
}

.error-set, error{
    font-size: 1rem;
    color: red;
    margin-bottom: 10px;
    background-color: #ff4f4f69;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    transition: linear all 0.3s;
}

ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.bxs-trash-alt{
  margin-left: 10px;
}

.bxs-trash-alt:hover{
    transition: linear all 0.3s;
    cursor: pointer;
    transform: rotate(359deg);
}

.header h1{
  font-size: 1.7rem;
  color: var(--color-dark);
  display: flex;
  justify-content: center;
}

.header button {
  position: absolute;
  right: 18%;
  margin-top: -30px;
  color: var(--color-dark);
} 

.header i {
  font-size: 22px;
} 

.to-do {
  margin-top: 40px;
  width: 60%;
}

.textInsert {
  border: none;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  width: 90%;
  font-size: 16px;
  box-shadow: inset 1px 1px 3px 1px var(--color-light-gray);
}

.divInsert {
  padding: 10px;
  background: var(--color-light);
  border-radius: 10px;
  display: flex;
  box-shadow: 6px 5px 10px 0px var(--color-light-gray);
}

button {
  width: 10%;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.bx-plus {
  font-size: 30px;
  margin-left: 10px;
  background-color: var(--color-dark);
  border-radius: 50%;
  padding: 5px;
  color: white;
}

.bx-plus:hover{
    transition: linear all 0.3s;
    cursor: pointer;
    box-shadow: 1px 1px 6px 1px #1a1a1a62;
}

.bx-trash:hover{
    transition: linear all 0.3s;
    cursor: pointer;
    transform: rotate(359deg);
}

.divLi {
  margin-top: 10px;
  padding: 10px;
  background:  var(--color-light);
  border-radius: 10px;
  box-shadow: 6px 5px 10px 0px var(--color-light-gray);
  display: flex;
  align-items: center;
}

.divLi span {
  width: 80%;
  color: dimgray;
}

.divLi input {
  width: 10%;
  outline: none;
  accent-color: currentcolor;
}

.divLi i {
  font-size: 22px;
  color: brown;
}

li {
  list-style-type: none;
}

.line-through {
  text-decoration: line-through;
}

input[type="checkbox"]{
    cursor: pointer;
    accent-color: #13e700;
}

@media (max-width: 775px) {
  input {
    width: 100%;
  }
  .to-do {
    width: 85%;
  }

  .divInsert button {
    width: 30%;
  }

  i {
    font-size: 30px;
    padding: 0px;
  }

  p {
    font-size: x-large;
  }
}